.bwc .bwc-container {
  display: flex;
  justify-content: center;
}
.bwc .bwc-info {
  font-size: large;
  margin-top: 20px;
}

.bwc .MuiLinearProgress-colorPrimary {
  background-color:tomato
}

.bwc .MuiLinearProgress-barColorPrimary {
  background-color: lightgreen;
}

.bwc .bwc-result {
  width: 300px;
  height: 300px;
  border: 2px solid gray;
  border-radius: 15px;
  background-color: bisque;
  display: inline-block;
  margin: 20px;
}

.bwc .bwc-result.bwc-result-black {
  background-color: black;
}

.bwc .bwc-result.bwc-result-white {
  background-color: white;
}

.bwc .control-buttons {
  display: flexbox;
}

.bwc .control-buttons .bwc-button {
  display: flex;
  width: 130px;
  height: 80px;
  border: 2px solid gray;
  border-radius: 15px;
  background-color: bisque;
  display: inline-block;
  margin: 20px;
}

.bwc .control-buttons .bwc-button.bwc-button-black {
  background-color: black;
}

.bwc .control-buttons .bwc-button.bwc-button-white {
  background-color: white;
}